<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- end row -->
        <!-- row -->
        <form name="formpayment">
            <div class="row">
                <article class="col-sm-12">
                    <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue">
                        <header>
                            <div class="basic_top_mar text-center">
                                <span class="widget-icon"> <i class="glyphicon glyphicon-user"></i> </span>
                                <h2> Consumer Base Location Report</h2>
                            </div>
                        </header>
                        <!-- widget div-->

                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->

                                <div class="row small-btn">
                                    <div class="col-sm-2 small_cls">
                                        <div class="form-group">
                                            <label>Distributor Code<span style="color:red">*</span></label>
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Enter Distributor Code." ng-model="DistCode" required />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 ">
                                        <div class="form-group">
                                            <label>Consumer No.</label>
                                            <label class="input">
                                                <input type="text" class="form-control" placeholder="Enter Consumer No." ng-model="ConsNo" maxlength="10" alphanumericonly />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" ng-show="divshow">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="submit" class="btn btn-block btn-primary report_btn get_details" ng-click="GetLocDetail(formpayment.$valid)"><i class="fa fa-search"></i> Get Details</button>
                                        </div>
                                    </div>

                                    <div class="col-sm-1" ng-show="divhide">
                                        <div class="form-group">
                                            <label>&nbsp;</label>

                                            <button type="button" name="" class=" btn btn-block btn-primary report_btn get_details ">
                                                <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                            </button>

                                        </div>
                                    </div>

                                </div>

                                <!--<div class="col-sm-2 ">
                                    <div class="form-group">
                                        <label>Inserted By</label>
                                        <select class="form-control">
                                            <option>-- Select -- </option>
                                        </select>
                                    </div>
                                </div>-->
                                <!--<div class="col-sm-2 small_cls" ng-show="get_details_btn_main">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <a class="btn btn-block btn-primary report_btn get_details"><i class="fa fa-search"></i> Get Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-btn hidden_row well well_search" ng-show="value">
                                    <div class="col-sm-2 small_cls">
                                        <div class="form-group">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>-->
                                <hr class="hr-notop" />
                                <article>
                                    <div id="page-wrapper">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- /.panel -->
                                                <div class="panel panel-default">
                                                    <!-- /.panel-heading -->
                                                    <div class="panel-body">
                                                        <!-- widget div-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="table-responsive">
                                                                    <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end widget div -->

                                                    </div>
                                                    <!-- end widget -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                <!-- end s1 tab pane -->
                                <!-- end content -->
                            </div>

                        </div>

                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->

                </article>

            </div>
        </form>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
