<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>


        <!-- end row -->
        <!-- row -->
        <form name="myForm">
            <div class="row">

                <article class="col-sm-12">
                    <!-- new widget -->
                    <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue">
                        <header>
                            <div class="basic_top_mar text-center">
                                <i class="fa fa-credit-card"></i> &nbsp;<h2>Consumer Number Wise Review Report</h2>
                            </div>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->
                                <div class="row small-btn">
                                    <div class="col-sm-2 small_cls">
                                        <div class="form-group">
                                            <label>Distributor Code<span class="errorMessage" style="color:red">*</span></label>
                                            <input type="text" ng-model="DistCode" numericonly placeholder="Enter Distributor Code" maxlength="{{maxlen}}" minlength="6" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Consumer Number<span class="errorMessage" style="color:red">*</span></label>
                                            <input type="text" ng-model="Consno" placeholder="Enter Consumer No." alphanumericonly class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 small_cls">
                                        <div class="form-group">
                                            <label>From Date<span class="errorMessage" style="color:red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control" id="fd" type="text" data-toggle="tooltip" data-placement="top" title="Select From Date" ng-model="Startdate" placeholder="DD-MMM-YYYY" coupondatepicker required />
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 small_cls">
                                        <div class="form-group">
                                            <label>To Date<span class="errorMessage" style="color:red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control" id="td" type="text" data-toggle="tooltip" data-placement="top" title="Select To Date" ng-model="EndDate" placeholder="DD-MMM-YYYY" coupondatepicker required />
                                            </label>
                                        </div>
                                    </div>


                                    <div class="col-sm-2 small_cls advanced_field small_field">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="submit" class="btn btn-block btn-primary report_btn get_details" ng-click="GetDetails(myForm.$valid, DistCode, Consno, Startdate, EndDate)"><i class="fa fa-search"></i> Get Details</button>

                                        </div>
                                    </div>

                                    <div class="col-sm-2 " ng-show="divhide">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="button" name="" class=" btn btn-block btn-primary report_btn get_details">
                                                <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                            </button>
                                        </div>
                                    </div>




                                </div>
                                <hr class="hr-notop" />
                                <article>
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
                                        <!-- widget options:
                                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                        data-widget-colorbutton="false"
                                        data-widget-editbutton="false"
                                        data-widget-togglebutton="false"
                                        data-widget-deletebutton="false"
                                        data-widget-fullscreenbutton="false"
                                        data-widget-custombutton="false"
                                        data-widget-collapsed="true"
                                        data-widget-sortable="false"

                                        -->
                                        <!-- widget div-->
                                        <div role="content">

                                            <!-- widget edit box -->
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->

                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body no-padding" style="border-top: 1px solid #ddd;">

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="table-responsive">
                                                            <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </div>
                                    <!-- end widget -->

                                </article>

                                <!-- end content -->
                            </div>

                        </div>
                        <!-- end widget div -->
                </article>
            </div>
            <!-- end widget -->


        </form>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
