<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <form name="myForm">
            <div class="row">
                <article class="col-sm-12 col-sm-offset-3 col-sm-6">
                    <!-- new widget -->
                    <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue" ng-controller="TodoCtrl">
                        <header>
                            <div class="basic_top_mar text-center">
                                <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                                <h2>Contractual/ Non Contractual	</h2>
                            </div>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->
                                <div class="row">
                                    <!--<div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="sel1">State Name<span class="errorMessage" style="color:red;">*</span></label>
                                            <select class="form-control" id="sel1" ng-options="s.StateCode as s.StateDesc for s in getState1" ng-model="dist.StateCode" required>
                                                <option value="" selected>--Select State--</option>

                                            </select>
                                        </div>
                                    </div>-->


                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Contractual/ Non Contractual	<span class="errorMessage" style="color:red;">*</span></label>
                                            <!-- pattern="[a-zA-Z]+" ng-pattern-restrict-->
                                            <input type="text" class="form-control" placeholder="Enter Contractual/ Non Contractual" ng-model="dist.DistrictName" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" ng-true-value="'Y'" ng-false-value="'N'" ng-model="dist.IsActive">Is Active?
                                            </label>


                                        </div>
                                    </div>
                                </div>

                                <hr class="hr_basic" />
                                <!--<div class="row ">
                                    <div class=" col-sm-4 pull-right" ng-show="divshow">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="{{submit}}" ng-click="SaveDistrictDetails(myForm.$valid,dist)" />&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pull-right" ng-show="divhide">
                                        <div class="form-group pull-right">
                                            <span class="input-group-btn">
                                                <button type="button" name="" class=" btn btn-block btn-primary ">
                                                    <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pull-right" ng-show="divshow">
                                        <div class="form-group">

                                            <a ui-sref="app.dashboard.District_master_grid"> <input type="submit" class="btn btn-default " value="Back"></a>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="row ">
                                    <!--<div class="col-sm-12 ">
                                        <div class="sub-back-btn pull-right" ng-show="divshow">
                                            <input type="submit" class="btn btn-primary" value="{{submit}}" ng-click="SaveDistrictDetails(myForm.$valid,dist)" />&nbsp;&nbsp;

                                            <a ui-sref="app.dashboard.District_master_grid"> <input type="submit" class="btn btn-default" value="Back"></a>

                                        </div>
                                        <div class="sub-back-btn pull-right" ng-show="divhide">

                                                <button type="button" name="" class=" btn btn-block btn-primary ">
                                                    <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                                </button>

                                        </div>

                                    </div>-->
                                    <div class="col-sm-10" ng-show="divshow">
                                        <button class="pull-right btn btn-primary" type="submit" value="{{submit}}" ng-click="SaveDistrictDetails(myForm.$valid,dist)">
                                            <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;Submit
                                        </button>
                                    </div>
                                    <div class="col-sm-1" ng-show="divshow">
                                        <a class="btn btn-default" ui-sref="app.dashboard.contractual_list">
                                            <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                                        </a>
                                    </div>
                                    <div class="col-sm-10" ng-show="divhide">
                                        <button type="button" name="" class="pull-right btn btn-primary">
                                            <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                        </button>
                                    </div>
                                </div>

                                <!-- end content -->
                            </div>

                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->

                </article>

            </div>

        </form>       <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
