<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue">
                    <header>
                        <div class="basic_top_mar text-center">
                            <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                            <h2>GST State</h2>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="widget-body">
                            <!-- content goes here -->
                            <!-- content goes here -->


                            <div class="row ">
                                <!--<div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="sel1">Lead Type<span class="errorMessage" style="color:red;">*</span></label>
                                        <select class="form-control">
                                            <option selected hidden>Select Type</option>
                                            <option>Auto-U</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <a data-ui-sref="app.dashboard.gst_state" class="btn btn-block btn-primary report_btn get_details pull-right" ng-click="clear1()"><i class="fa fa-plus"></i> Add New</a>


                                    </div>
                                </div>
                            </div>


                            <hr class="hr-notop" />
                            <article>


                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
                                    <!-- widget options:
                                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                    data-widget-colorbutton="false"
                                    data-widget-editbutton="false"
                                    data-widget-togglebutton="false"
                                    data-widget-deletebutton="false"
                                    data-widget-fullscreenbutton="false"
                                    data-widget-custombutton="false"
                                    data-widget-collapsed="true"
                                    data-widget-sortable="false"

                                    -->
                                    <!-- widget div-->
                                    <div role="content">

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body ">

                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table tbl">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" width="30">Edit</th>
                                                                <th class="text-center" width="200">GST State Name</th>
                                                                <!--<th class="text-center">Lead Type</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center"><butto class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                                                <td class="text-center">Gujrat</td>
                                                              
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </div>
                                    <!-- end widget -->

                            </article>

                            <!-- end s1 tab pane -->
                            <!-- end content -->
                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
