<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <form name="myForm">
            <div class="row">
                <article class="col-sm-12 col-sm-offset-2 col-sm-8">
                    <!-- new widget -->
                    <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue" ng-controller="TodoCtrl">
                        <header>
                            <div class="basic_top_mar text-center">
                                <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                                <h2>Main Menu</h2>
                            </div>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="sel1">Main Menu Name<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" class="form-control" id="pmode" ng-model="menu.MainMenu" placeholder="Enter Main Menu Name" required />
                                        </div>
                                    </div>
                                   
                                </div>
                             

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" ng-model="menu.IsActive" ng-true-value="'Y'" ng-false-value="'N'">Is Active?
                                            </label>


                                        </div>
                                    </div>
                                </div>

                                <hr class="hr_basic" />
                                

                                <div class="row ">
                                   
                                    <div class="col-sm-10" ng-show="divshow">
                                        <button class="pull-right btn btn-primary" type="submit" value="{{submit}}" ng-click="saveMenuDetails(myForm.$valid,menu)">
                                            <i class="glyphicon glyphicon-send"></i> {{submit}}
                                        </button>
                                    </div>
                                    <div class="col-sm-1" ng-show="divshow">
                                        <a class="btn btn-default" ui-sref="app.dashboard.mainmenu_grid">
                                            <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                                        </a>
                                    </div>
                                    <div class="col-sm-10" ng-show="divhide">
                                        <button type="button" name="" class="pull-right btn btn-primary">
                                            <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                        </button>
                                    </div>
                                </div>

                                <!-- end content -->
                            </div>

                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->

                </article>

            </div>

        </form>       <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
