<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">
    <form name="myForm">
        <!-- widget grid -->
        <section id="widget-grid" widget-grid>


            <!-- end row -->
            <!-- row -->

            <div class="row">

                <article class="col-sm-12">
                    <!-- new widget -->
                    <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue">
                        <header>
                            <div class="basic_top_mar text-center">
                                <i class="fa fa-credit-card"></i> &nbsp;<h2>Order Report</h2>
                            </div>
                        </header>
                        <!-- widget div-->
                        <div>
                            <div class="widget-body">
                                <!-- content goes here -->
                                <div class="row small-btn">


                                    <div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>From Date<span class="errorMessage" style="color:red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control" id="fd" type="text" ng-model="FromOrdDate" ng-change="DefaultDate(FromOrdDate)" placeholder="dd-MMM-yyyy" coupondatepicker required />
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>To Date<span class="errorMessage" style="color:red">*</span></label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control" id="td" type="text" ng-model="ToOrdDate" placeholder="dd-MMM-yyyy" coupondatepicker required />
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>Order Stage<span class="errorMessage" style="color:red">*</span></label>
                                            <select class="form-control" id="sel1" ng-model="OrderStage" required>
                                                <option value="" selected>--Select Order Stage--</option>
                                                <option value="NE">New</option>
                                                <option value="AC">Account</option>
                                                <option value="LO">Logistic</option>
                                                <option value="OP">OPF</option>
                                                <option value="DI">Dispatch</option>
                                            </select>
                                        </div>
                                    </div>-->

                                    <div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>Order Status<span class="errorMessage" style="color:red">*</span></label>
                                            <select class="form-control" id="sel1" ng-model="OrderStatus" required>
                                                <option value="" selected>--Select Order Staus--</option>
                                                <option value="PE">Pending</option>
                                                <option value="IP">InProcess</option>
                                                <option value="IT">Transit</option>
                                                <option value="CL">Close</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>Distributor Code</label>

                                            <input class="form-control" type="text" ng-model="DistCode" placeholder="Enter Distributor Code" maxlength="8" minlength="6" numericonly />

                                        </div>
                                    </div>
                                    <div class="col-sm-3 small_cls">
                                        <div class="form-group">
                                            <label>Zone</label>
                                            <select class="form-control" id="sel1" ng-model="Region">
                                                <option value="" selected>--Select Zone--</option>
                                                <option value="N">North</option>
                                                <option value="E">East</option>
                                                <option value="W">West</option>
                                                <option value="S">South</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 small_cls advanced_field small_field">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="submit" class="btn btn-block btn-primary report_btn get_details" ng-click="GetSearch(myForm.$valid,DistCode,FromOrdDate,ToOrdDate,OrderStatus,Region)"><i class="fa fa-search"></i> Get Details</button>

                                        </div>
                                    </div>

                                    <div class="col-sm-2 " ng-show="divhide">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <button type="button" name="" class=" btn btn-block btn-primary report_btn get_details">
                                                <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                            </button>
                                        </div>
                                    </div>




                                </div>
                                <hr class="hr-notop" />
                                <article>
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
                                        <!-- widget options:
                                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                        data-widget-colorbutton="false"
                                        data-widget-editbutton="false"
                                        data-widget-togglebutton="false"
                                        data-widget-deletebutton="false"
                                        data-widget-fullscreenbutton="false"
                                        data-widget-custombutton="false"
                                        data-widget-collapsed="true"
                                        data-widget-sortable="false"

                                        -->
                                        <!-- widget div-->
                                        <div role="content">

                                            <!-- widget edit box -->
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->

                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body no-padding" style="border-top: 1px solid #ddd;">

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="table-responsive">
                                                            <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </div>
                                    <!-- end widget -->

                                </article>

                                <!-- end content -->
                            </div>

                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>

            </div>

            <!-- end row -->
        </section>
    </form>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
