<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue">
                    <header>
                        <div class="basic_top_mar text-center">
                            <span class="widget-icon"> <i class="fa fa-database"></i> </span>
                            <h2>Payment Gateway Pay Mode </h2>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="widget-body">
                            <!-- content goes here -->
                            <!-- content goes here -->

                            <div class="row ">
                                
                                <div class="col-sm-12 small_cls">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <a ui-sref="app.dashboard.pay_mode" class="btn btn-block btn-primary report_btn get_details pull-right" ng-click="clear1()"><i class="fa fa-plus"></i> Add New</a>
                                    </div>
                                </div>
                            </div>

                            <hr class="hr-notop" />
                            <article>


                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
                                    <!-- widget options:
                                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                    data-widget-colorbutton="false"
                                    data-widget-editbutton="false"
                                    data-widget-togglebutton="false"
                                    data-widget-deletebutton="false"
                                    data-widget-fullscreenbutton="false"
                                    data-widget-custombutton="false"
                                    data-widget-collapsed="true"
                                    data-widget-sortable="false"

                                    -->
                                    <!-- widget div-->
                                    <div role="content">

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">

                                            <div id="datatable_fixed_column_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <div class="dt-toolbar">
                                                    <div class="col-xs-12 col-sm-6 hidden-xs">
                                                        <div id="datatable_fixed_column_filter" class="dataTables_filter">
                                                            <label>
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                                                <input type="search" class="form-control" placeholder="" aria-controls="datatable_fixed_column">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12 hidden-xs"><div class="toolbar"></div></div>
                                                </div>
                                             

                                                <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-exporter ui-grid-selection class="grid">
                                                </div>

                                            </div>
                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </div>
                                    <!-- end widget -->

                            </article>

                            <!-- end s1 tab pane -->
                            <!-- end content -->
                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
