<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>


        <!-- end row -->
        <!-- row -->

        <div class="row">

            <article class="col-sm-12 col-sm-offset-2 col-sm-8">
                <!-- new widget -->
                <div id="todo-widget" jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-minimize="false" data-widget-color="blue" ng-controller="TodoCtrl">
                    <header>
                        <div class="basic_top_mar text-center">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Plan Detail </h2>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <form name="myplans">
                            <div class="widget-body">
                                <!-- content goes here -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="sel1">Product<span class="errorMessage" style="color:red;">*</span></label>
                                            <select class="form-control" ng-options="p.ProdCode as p.ProductDesc for p in allproduct" ng-model="plansdata.ProductCode" required>
                                                <option value="" selected>Select Option</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Plan Name<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" id="rolecodeid" class="form-control" placeholder="Enter Plan Name" ng-model="plansdata.Description" required alphanumericonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Default Days<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.DefaultDays" class="form-control" placeholder="Enter Default Days" required numericonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Grace Days<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.GraceDays" class="form-control" placeholder="Enter Grace Days" required numericonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>From Consumer<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.FromCons" class="form-control" placeholder="Enter From Consumer" required numericonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>To Consumer<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.ToCons" class="form-control" placeholder="Enter To Consumer" required numericonly />
                                        </div>
                                    </div>   

                                   
                                </div>


                                <div class="row">                                 
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Quantity<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.Quantity" required class="form-control" placeholder="Enter Quantity" numericonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Amount<span class="errorMessage" style="color:red;">*</span></label>
                                            <input type="text" ng-model="plansdata.Amount" required class="form-control" placeholder="Enter Amount" numericonly />
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="form-group mar-top">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" ng-true-value="'Y'" ng-false-value="'N'" ng-model="plansdata.IsRenewal">Is Renewal?
                                            </label>
                                        </div>
                                    </div>                 
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group mar-top">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" ng-true-value="'Y'" ng-false-value="'N'" ng-click="URLShow(plansdata.IsOffer)" ng-model="plansdata.IsOffer">Is Offer?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label>URL</label>
                                            <input type="text" id="urlshowhide" ng-model="plansdata.OfferUrl"  class="form-control" placeholder="Enter URL" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group ">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="plansdata.IsCustom">Is Custom?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group ">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="" ng-true-value="'Y'" ng-false-value="'N'" ng-model="plansdata.IsActive">Is Active?
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <hr class="hr_basic" />
                                <div class="row ">
                                    <div class="col-sm-10" ng-show="divshow">
                                        <button class="pull-right btn btn-primary" type="submit" value="{{submit}}" ng-click="SavePlansDetails(myplans.$valid,plansdata)">
                                            <i class="glyphicon glyphicon-send"></i> &nbsp;&nbsp;{{submit}}
                                        </button>
                                    </div>
                                    <div class="col-sm-1" ng-show="divshow">
                                        <a class="btn btn-default" ui-sref="app.dashboard.plans_grid">
                                            <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back
                                        </a>
                                    </div>
                                    <div class="col-sm-10" ng-show="divhide">
                                        <button type="button" name="" class="pull-right btn btn-primary">
                                            <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                        </button>
                                    </div>
                                </div>

                                <!-- end content -->
                            </div>
                        </form>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
