
<div>
    <header class="outer_wrap clearfix animated fadeInDown" style="width:100%;">
        <div id="logo-group" class="content__left">
            <span id="logo"> <img src="{{loginimage}}" alt="SmartAdmin"> </span>
        </div>
        <!--<div class="content__right">
            <span class="need_acc hidden-mobile hiddex-xs" style="position:relative;top:50%;transform:translateY(-50%)">Need an account?</span> <a ui-sref="distributor_authentification" class="btn btn-danger">Create account</a>
        </div>-->
        <div class="tollfree_wrapper1 content__middle text-center pull-right">
            <div class="mid_toll_free">
                <i class="fa fa-phone color-orange phone fleft"></i> <div class="fright toll_number"> Toll Free Number <span class="toll_number num login_toll">  00000000 </span></div>
            </div>
        </div>
    </header>
    <div id="main1" role="main" ng-controller="loginctrl" class=" animated fadeInDown">

        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-lg-offset-4">
                    <div class="well no-padding for_margin">
                        <form name="myForm"  id="login-form" class="smart-form client-form">
                            <header>
                                Forgot Password
                            </header>

                            <fieldset>

                                <section>
                                    <label class="label">Email Address</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-globe"></i>
                                        <input type="text" name="username" ng-model="Email" required>
                                      
                                    </label>
                                    <div class="note">
                                        <a ui-sref="login">I remembered my password!</a>
                                    </div>
                                </section>

                            </fieldset>
                            <footer>
                                <!--<button type="submit" class="btn btn-primary" ng-click="forgotPassword(myForm.$valid,Email)">
                                    <i class="fa fa-refresh"></i> Submit
                                </button>-->

                                <div class="col-sm-12" ng-show="divshow">
                                    <button class="pull-right btn btn-primary" type="submit" value="" ng-click="forgotPassword(myForm.$valid,Email)">
                                        <i class="glyphicon glyphicon-send"></i> Submit
                                    </button>
                                </div>
                                <div class="col-sm-10" ng-show="divhide">
                                    <button type="button" name="" class="pull-right btn btn-primary">
                                        <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                                    </button>
                                </div>
                            </footer>
                        </form>

                    </div>
                </div>
               
            </div>




        </div><!-- End Row -->
        <!--<section class="pannel alter_color">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="txt-color-red login-header-big">Contact Us</h3>
                        <div class="text-left">
                            <img src="styles/img/pushpam_logo.png" height="50" />
                        </div>
                        <br />
                        <p>
                            <address>
                                Pushpam Computers & Software Pvt. Ltd.<br />  635/1-B, New Gajara Co-Op. Society,<br /> Swami Vivekanand Rd, Bibvewadi,<br /> Pune-411037 Maharashtra India,<br style="margin-top:5px" /><i class="fa fa-phone"></i> &nbsp;020-67311991<br /><i class="fa fa-envelope"></i> &nbsp;siplpune@sanhitainfotech.com<br /><i class="fa fa-globe"></i> &nbsp;  http://sanhitainfotech.com/
                            </address>
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="txt-color-red login-header-big">Our Location</h3>
                        <div>
                            <img src="styles/img/map.PNG" class="img-responsive" />
                        </div>

                    </div>
                </div>
            </div>
        </section>-->
    </div>



</div>







